<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="bluearm_urdf_3">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-1.2721E-09 -2.221E-09 0.029334"
        rpy="0 0 0" />
      <mass
        value="0.80823" />
      <inertia
        ixx="0.00092021"
        ixy="2.0871E-10"
        ixz="-1.3863E-11"
        iyy="0.00088788"
        iyz="-1.2165E-11"
        izz="0.001593" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.50196 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.0013724819847024 0.00105856120896306 -0.0137822751691176"
        rpy="0 0 0" />
      <mass
        value="0.842297822851205" />
      <inertia
        ixx="0.00076340953424039"
        ixy="-3.51636077803791E-06"
        ixz="-3.95975667675045E-06"
        iyy="0.00121976980344189"
        iyz="1.36722548032234E-06"
        izz="0.00102227900722713" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.14"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.0769223200130146 8.08732473817575E-05 -0.00042635625580266"
        rpy="0 0 0" />
      <mass
        value="0.745981126447571" />
      <inertia
        ixx="0.000520841610219072"
        ixy="-4.81334906961203E-06"
        ixz="-1.95626090273518E-06"
        iyy="0.00042477641414559"
        iyz="-5.52016092200821E-06"
        izz="0.000384489660316636" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.0114331813251084 -0.000457582008541844 -0.0216566472730735"
        rpy="0 0 0" />
      <mass
        value="0.804459827803754" />
      <inertia
        ixx="0.000394716139862203"
        ixy="1.20034101751916E-06"
        ixz="-1.15155911130661E-05"
        iyy="0.000369176277421544"
        iyz="-1.52204783481967E-06"
        izz="0.000335294348916886" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0.19 0 0"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.0769734778463645 0.000934629244450365 0.0356212264841299"
        rpy="0 0 0" />
      <mass
        value="0.566230423072006" />
      <inertia
        ixx="0.000323477443788715"
        ixy="1.29185501358438E-06"
        ixz="-1.18136439524261E-05"
        iyy="0.000225583796578213"
        iyz="-6.10063744425435E-06"
        izz="0.000221671905453137" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0 -0.0365"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.0148074583751761 0.00213542128687548 2.18169794868883E-07"
        rpy="0 0 0" />
      <mass
        value="0.462017126683371" />
      <inertia
        ixx="0.000177893444569323"
        ixy="1.32666352831544E-05"
        ixz="-3.05686863907704E-07"
        iyy="0.000225592333679048"
        iyz="1.12464809894113E-09"
        izz="0.000163107825386613" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0.183 0 0.0365"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.057311 -0.0040732 2.7725E-07"
        rpy="0 0 0" />
      <mass
        value="0.41677" />
      <inertia
        ixx="0.00018847"
        ixy="-1.4409E-05"
        ixz="-1.3757E-09"
        iyy="0.0001068"
        iyz="-3.057E-07"
        izz="0.00014801" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.89804 0.91765 0.92941 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_7">
    <inertial>
      <origin
        xyz="-0.35508 -0.0025947 -0.026841"
        rpy="0 0 0" />
      <mass
        value="6.3956" />
      <inertia
        ixx="0.01645"
        ixy="-0.0011027"
        ixz="-0.017005"
        iyy="0.15129"
        iyz="0.00032406"
        izz="0.14249" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://bluearm_urdf_3/meshes/link_7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_7"
    type="revolute">
    <origin
      xyz="0.107 0 0"
      rpy="0 0 0" />
    <parent
      link="link_6" />
    <child
      link="link_7" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>